

<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>Invoice Receipt</title>
  <style>
    table {
      border-collapse: collapse;
      width: 100%;
    }
    th, td {
      padding: 10px;
      border: 1px solid #ddd;
      text-align: left;
    }
    .text-right {
      text-align: right;
    }
    .text-center {
      text-align: center;
    }
  </style>
</head>
<body>
  <table width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td colspan="2" style="padding: 20px 0;">
        <img src="logo.png" width="150" alt="Company Logo" />
      </td>
    </tr>
    <tr>
      <td width="49%">
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td style="font-weight: bold;">Invoice Receipt</td>
          </tr>
        </table>
      </td>
      <td width="51%">
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <th style="font-weight: bold;">Order Date:</th>
            <td class="text-right">{{ order.date }}</td> <!-- Assuming order.date contains the order date -->
          </tr>
          <tr>
            <th style="font-weight: bold;">Invoice Number:</th>
            <td class="text-right">{{ order.id }}</td>
          </tr>
        </table>
      </td>
    </tr>
    <tr>
      <td colspan="2">
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <th style="font-weight: bold;">Service Provider</th>
            <th style="font-weight: bold;">Customer Name</th>
          </tr>
          <tr>
            <td valign="top">
              1001A, The Capital & Wing, 10th Floor,<br>
              Banasthali, Kathmandu<br>
              Contact: 981000000
            </td>
            <td valign="top">
              {{ order.full_name }}<br>
              {{ order.address }}<br>
              {{ order.city }}<br>
              {{ order.landmark }}
            </td>
          </tr>
        </table>
      </td>
    </tr>
    <tr>
      <td colspan="2">
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <th style="font-weight: bold;">Description</th>
            <th style="font-weight: bold;" class="text-right">Bill Amount</th>
            <th style="font-weight: bold;" class="text-right">Payment Method</th>
          </tr>
          <tr>
            <td>{{ order.order_note }}</td>
            <td class="text-right">{{ order.amount }}</td> <!-- Assuming order.amount contains the bill amount -->
            <td class="text-right">{{ order.payment_method }}</td>
          </tr>
        </table>
      </td>
    </tr>
    <tr>
      <td colspan="2">
        <p style="font-style: italic;">
          Dear Consumer, the bill payment will reflect in your account within the next 48 hours. Please contact our customer support for any queries regarding this order.
        </p>
        <p style="font-style: italic;">
          (This is a computer-generated receipt and does not require a physical signature.)
        </p>
      </td>
    </tr>
  </table>
</body>
</html>
